/*
BACKGROUND COLORS
Green Background    #70B683
Gray Background      #F5F5F5
Brown Background   #4C3320

FONT COLORS
Font color  #323332
Green font #70B683
*/
.sec-h2{
	text-align: center;
	padding-top: 20px;
}
.no-padding {
	padding: 0px;
}
.no-margin {
	margin:0px;
}
.page-content {
	padding-top: 160px;
}

/** navbar start **/
.sticky {
	z-index:1000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.navbar {
	background-color: #ffffff;
}
.nav-right-side{
	float:right;
}
.nav-brand{
	width: 180px;
	height: 155px;
	float:right; 
	margin: 0;
	padding: 25px;
	color: #333;
}
nav ul {
	list-style-type: none;
	margin: 0 auto;
	margin-top: 77px;
}
nav ul li {

	float: right; 
	margin-right: 6%;
	font-size: 2vw;
}
nav ul li a {
	color: #433;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.56vw;
	font-weight: bold;
	padding-bottom: .5em;
	transition: .10s color;
}
nav ul li a:hover {
	color: #6fb681;
	border-bottom: 3px solid #6fb681;
	text-decoration: none;
}
nav ul li a:active {
	border-bottom: 3px solid #6fb681;
	color: #6fb681;	
}
#home {
	margin-right: -70px;
}
/** navbar end **/

/*sec1 Start*/
/** carousel start **/
.carouselImg{
	width:100%;
	position: relative;
}
.carouselContent {
	background-color: rgba(237, 239, 242, 0.5);
	width: 400px;
	height: 380px;
	position: absolute;
	bottom: 13%;
	left: 18%;
	z-index: 20;
	color: black;
}
.carouselContent p {
	width: 100%;
	word-wrap: break-word;
	padding: 20px 20px 0 20px;
}
.carouselContent h2 {
	padding-right: 20px;
}
.carouselContent a {
	font-weight: bolder;
	padding-right: 20px;
}
/** carousel end **/
/*sec1 end*/

/** sec2 our vision start **/
.sec2 {
	background-color: #70B683;
	background-image: url(../images/sections/green_bg_overlay.svg);
	height: 100%;
}
.videoDisplay {
	display:block;
	height: 280px;
	float: none;
	padding: 0px;
}
.sec2LeftSide {
	height: 100%;
	text-align: right;
	font-size: 22px;
	color: white;
	padding: 90px 50px 0px 90px;
}
.sec2RightSide{
	padding: 40px;
}
.sec2Btn{
	float: left;
	width: 140px;
	height: 40px;
	background-color: #70B683;
	color: white;
	border: 2px solid white;
	font-size: 20px;
}
/** sec2 our vision end **/

/** sec3 our services start **/
.sec3{
	height: 100%;
	padding-bottom: 25px;
	background-color: white;
}
.serviceCard{
	border: solid 2px gainsboro;
}
.sec3CardImg {
	width:100%;
}
.sec3Services p {
	word-wrap: break-word;
}
.downCard {
	margin-top: 10px;
}
.rightCard{
	margin-left: 10px;
}
.leftCard{
	float: right;
	margin-right: 10px;
}
.moreBtn {
	display: block;
	float: none;
	margin: 0 auto;
	width: 150px;
	height: 40px;
	margin-top: 20px;
	color: black;
	background-color: transparent;
	border: 2px solid black;
	font-size: 16px;
}
.advisoryBtn{
	width: 100%;
	background: transparent;
	border: 2px solid #70B683;
	color: #70B683;
	margin-top:30px;
	height: 30px;
}
.complaintBtn{
	width: 100%;
	background: transparent;
	border: 2px solid #70B683;
	color: #70B683;
	margin-top: 30px;
	height: 30px;
}
.serviceCardMoreBtn{
	color:#70B683;
	font-weight: 600;
	font-size: 18px;
}
/** sec3 our services end **/

/** sec4 Competetions start **/
.sec4{
	background-color: #F5F5F5;
	padding-bottom: 25px;
}
.card {
	border: 1px solid #bbbbbb;
}
.competitionCardsContainer{
	float: none;
	margin: 0 auto;
}
.cardImgContainer {
	width:100%;
}
.cardImg {
	width: 100%;
}
.cardText {
	padding: 10px;
}
.actionBtn {
	width: 100%;
	background: transparent;
	border: 1px solid green;
	border-radius: 0;
	color: #70B683;
	font-weight: 500;
}
.cardBtn{
	padding-bottom: 10px;
}
.middleCard{
	height: 477px;
}
.middleCard a{
	color: #70B683;
	font-weight: 600;
}
/** sec4 Competetions end **/

/** sec5 Projects start **/
.sec5 h2{
	color:white;
}
.sec5{
	background-color: #4C3320;
	background-image: url(../images/sections/brown_bg_overlay.svg);
	padding-bottom: 25px;
}
.nav-tabs li a:hover{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid yellow;
	color: yellow;
}
.nav-tabs li a {
	color: white;
	margin-left: 80px;
}
.tabsContainer ul {
	margin: 0 auto;
	float: none;
}
.tabsContainer {
	padding-top: 10px;
}
.tabsUpperRow{
	float: none;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 10px;
	overflow: hidden;
}
.tabsDownRow{
	padding-top: 25px;
	float: none;
	margin: 0 auto;
	overflow: hidden;
}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover{
	color:yellow;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid yellow;
}
.nav-tabs {
	border-bottom: none;
	float: none;
	margin:0 auto;
}
.projectCard{
	color:white;
	font-size: 18px;
	font-weight: 100;
	background-color:  #70B683;
	padding-top: 20px;
	height: 350px;
}
.projectCard h3 {
	font-weight: 600;
}
.projectCard a{
	bottom: 0;
	position: absolute;
	padding-bottom: 10px;
	color: white;
}
/** sec5 Projects end **/

/** sec6 News start **/

/*FILTER START*/
.sec6 {
	padding-bottom: 25px;
	background: #70B683;
}
.filter-container {
	width:100%;
	margin:0 auto;
	overflow: hidden;

}
input[type="radio"] {

	display:none;
}
label {
	text-align:center;
	background: transparent;
	color:#222222;
	padding:0.5%;
	margin-bottom:30px;
	cursor:pointer;
}
input[type="radio"][id="all"]:checked + label {
	color: yellow;
	border-bottom: 2px solid yellow;
}
input[type="radio"][id="conferenceCard"]:checked + label {
	color: yellow;
	border-bottom: 2px solid yellow;
}
input[type="radio"][id="conferenceCard"]:checked + label {
	color: yellow;
	border-bottom: 2px solid yellow;
}
input[type="radio"][id="conferenceCard"]:checked ~ .pressCard, input[type="radio"][id="conferenceCard"]:checked ~ .newsCard {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
input[type="radio"][id="pressCard"]:checked + label {
	color: yellow;
	border-bottom: 2px solid yellow;
}
input[type="radio"][id="pressCard"]:checked ~ .conferenceCard, input[type="radio"][id="pressCard"]:checked ~ .newsCard {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
input[type="radio"][id="newsCard"]:checked + label {
	color: yellow;
	border-bottom: 2px solid yellow;
}
input[type="radio"][id="newsCard"]:checked ~ .conferenceCard, input[type="radio"][id="newsCard"]:checked ~ .pressCard {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
.tile {


	transition:all 0.5s;

}
/*FILTER END*/
/*Cards Style Start*/
.cardCat{
	text-align: center;
	width: 80px;
	height: 20px;
	display: block;
	background: white;
}
.newscard-container{
	padding-bottom: 20px;
}
.news-rightSide{
	float: right;
}
.news-rightSide img{
	float: left;
}
.news-leftSide{
	float: left;
}
.news-leftSide{
	padding-left: 100px;
}

/*Cards Style End*/

/** sec6 News end **/

/** Footer start **/
.footer {
	background-color: dimgrey;
	padding: 30px 0px 30px 0px;
	height:100%;
}
.footerRightSide .footerLinks a{
	padding: 15px 0px 0px 15px;
}
.footerRightSide{
	padding: 30px 30px 0px 0px;
}
.footerLeftSide{
	text-align: center;
}
.followUS{
	padding-top: 20px;
}


/** footer end **/
